@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: 'Baloo 2';
  height: 100%;
  @apply bg-yellow-50;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.curly {
  font-family: 'Baloo 2', cursive;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.phone-input input {
  @apply bg-transparent mx-2 p-2 focus:outline-none rounded;
}



.transition_all {
  transition: all 0.25s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #d5d5d5 !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset; */
  caret-color: #d1d5db;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #8CC53F !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset; */
  caret-color: #d1d5db;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.slick-dots li.slick-active button:before {
  color:White !important;
}

.cal-height {
  height: calc(100% - 200px);
}

ul.slick-dots {
  position: fixed !important;
  bottom: 16px !important;
  right: 0px !important;
  left: 0px !important;
}

.bg-field {
  background-image: url('./assets/field.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cloud {
  background-color: #8CC53F;
  background-image: url('./assets/cloud.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
}

.bg-camera {
  background-image: url('./assets/arrow-tl.svg'), url('./assets/arrow-br.svg') , url('./assets/arrow-tr.svg') , url('./assets/arrow-bl.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, bottom right, top right, bottom left;
  background-size: 5%;
}

.rs-carousel {
  height: 360px !important;
  position: relative !important;
  top: 35px !important;
  background: transparent !important;
}

.rs-theme-light, :root {
  --rs-carousel-bg: transparent !important;
  --rs-carousel-indicator : rgba(240, 91, 40, 0.30) !important;
  --rs-carousel-indicator-active : #F05B28 !important;
}
