@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: 'Poppins';
  height: 100%;
  background-color: white;
}

.curly {
  font-family: 'Pangolin', cursive;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.phone-input input {
  @apply bg-transparent mx-2 p-2 focus:outline-none rounded;
}



.transition_all {
  transition: all 0.25s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #d5d5d5 !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset; */
  caret-color: #d1d5db;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #8CC53F !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #2f4d64 inset; */
  caret-color: #d1d5db;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.bg-field {
  background-image: url('https://s3-alpha-sig.figma.com/img/5a00/fe2a/b994e160c61765441d7d5c952db1290c?Expires=1690156800&Signature=oKv1RqlDOFNQQyQI72soTCa1z0-NL~lVXn3zLA-ZVj0IuMx4QDO1HmTo8pOn6iFvgNWd7FaLSbQI3Jh70vnynSzlDmIq41WsR9x8mPiT2~We~sDeNVpgSnFZQkIioGy12Lg2c7WbfLcdxUnOBT20JeWtk09O0Fv5KzA2645MrRGSW6LVxaTgFlRGbpz7iqhaiUxCwcFX6hcfblTQQrEme2M63EvdX0z9LBo5uxJci3UBr-2DpL8IFk7OXQrC2oUDaRsX~-IOgWW4rzm~ZUlPGVa~3iAJORVtm7jk5e6pGyYyUZE6NhSkZvIt7jRcLgtWBCsZAWo1SUJyiVQv5Z1Kbg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cloud {
  background-color: #8CC53F;
  background-image: url('./assets/cloud.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
}

.bg-camera {
  background-image: url('./assets/arrow-tl.svg'), url('./assets/arrow-br.svg') , url('./assets/arrow-tr.svg') , url('./assets/arrow-bl.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, bottom right, top right, bottom left;
  background-size: 5%;
}

.rs-carousel {
  height: 360px !important;
  position: relative !important;
  top: 35px !important;
  background: transparent !important;
}

.rs-theme-light, :root {
  --rs-carousel-bg: transparent !important;
  --rs-carousel-indicator : rgba(240, 91, 40, 0.30) !important;
  --rs-carousel-indicator-active : #F05B28 !important;
}
